# =====================
# OS
# =====================
.DS_Store

# =====================
# Gradle
# =====================
.gradle/
build/
**/.gradle/
**/build/

# =====================
# IntelliJ
# =====================
.idea/
*.iml

# =====================
# Logs
# =====================
*.log

# =====================
# Compiled
# =====================
*.class
